@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.react-colorful__saturation, .react-colorful__last-control{
  /*remove radius border to color picker from react-colorful*/
  border-radius: 0 !important;
}

.react-colorful{
  height: 160px !important;
  width: 160px !important;
}

body {
  margin: 0;
  overflow: hidden; /* Impede a rolagem da página */
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Impede a rolagem do contêiner */
  position: relative;
  background-color: #f0f0f0;
  cursor: grab; /* Define o cursor padrão */
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}